{% extends 'dashboard-base.html' %} 

{% block head_add %}
<script defer src="static/scripts/dashboard.js"></script>
{% endblock %} 

{% block title %}
  <title>Dashboard - Lightbulb Education Code</title>
{% endblock %} 

{% block navtitle %}Dashboard{% endblock %}

{% block dashcontent %}
<!-- Begin Page Content -->
<div class="container-fluid">
  
	<!-- Page Heading -->
	<h1 class="h1 mb-4 text-gray-800 display-4">Hey <span class="name" id="name"></span>!</h1>
  <h4 class="m-0 font-weight-bold text-primary">Welcome to Lightbulb Education Code!</h4>
  <p>We're glad you've come to join us! Here, you'll find a wide variety of resources to help you on your coding journey.
  </p>
    <div class="row">
        <div class="col-lg-4">
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#not-sure" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold text-primary">Not sure where to start?</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="not-sure" style="">
              <div class="card-body">
                Go ahead and visit the <a href="/projects">projects</a> page. There, you'll find a plethora of projects tagged by difficulty level. If you're a complete beginner to programming, check out one of the beginner projects. If you done some programming before, take a look at and attempt some of the intermediate and/or advanced projects.
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#what-if" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold text-primary">What if I can't code at all?</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="what-if" style="">
              <div class="card-body">
                Don't worry! Our beginner courses are designed with absolute beginners in mind. Throughout all of the project guidelines, we include helpful tips and links to resources where you can learn about what's going on.
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#more-questions" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold text-primary">Have any other questions?</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="more-questions" style="">
              <div class="card-body">
                We're here to help you! Just email us at <a href="mailto:help@lightbulb.education">help@lightbulb.education</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <h1 class="mb-3 text-primary">Favorite Courses</h1>
    <div id="courses" class="row"></div>
    <div id="courses-empty" class="mb-4">
      <p class="text-center text-faded big-icon"><i class="fas fa-pastafarianism"></i></p>
      <h1 class="text-faded text-center h5">Nothing to see here</h1>
    </div>


    <h1 class="mb-3 text-primary">Projects</h1>

    <h1 class="h4 mb-4 text-gray-800 font-weight-bold">Working</h1>
    <div id="working" class="row"></div>
    <div id="working-empty" class="mb-4">
      <p class="text-center text-faded big-icon"><i class="fas fa-pastafarianism"></i></p>
      <h1 class="text-faded text-center h5">Nothing to see here</h1>
    </div>

    
    <h1 class="h4 mb-4 text-gray-800 font-weight-bold">Favorites</h1>
    <div id="favorites" class="row"></div>
    <div id="favorites-empty" class="mb-4">
      <p class="text-center text-faded big-icon"><i class="fas fa-pastafarianism"></i></p>
      <h1 class="text-faded text-center h5">Nothing to see here</h1>
    </div>

    
    <h1 class="h4 mb-4 text-gray-800 font-weight-bold">Completed</h1>
    <div id="completed" class="row"></div>
    <div id="completed-empty" class="mb-4">
      <p class="text-center text-faded big-icon"><i class="fas fa-pastafarianism"></i></p>
      <h1 class="text-faded text-center h5">Nothing to see here</h1>
    </div>

</div>
{% endblock %}