{% extends 'base.html' %} 

{% block title %}
  <title>Lightbulb Education Code</title>
{% endblock %} 

{% block head %}
{% endblock %} 



{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Lightbulb Education Code</h1>
    <p class="lead">Login now to access resources.</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login / Sign Up</a>
  </div>
</div>

{% endblock %}

{% block content %}
    <h2 class="">Why should I learn how to code?</h1>
    <p class="lead">Coding is a super power!</p>
    <a class="btn btn-primary btn-lg" href="/donate" role="button">Donate</a>

{% endblock %}






