{% extends 'base.html' %} 

{% block title %}
  <title>Login - Lightbulb Education Code</title>
{% endblock %} 

{% block head %}
	<script type="text/javascript">
		// FirebaseUI config.
    var callback = getUrlVars()["callback"] ? decodeURIComponent(getUrlVars()["callback"]) : "/dashboard"

    console.log(callback)
      var uiConfig = {
        signInSuccessUrl: "/login",
        signInOptions: [
          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        ],
        // Terms of service url/callback.
        tosUrl: '/policies/tos',
        // Privacy policy url/callback.
        privacyPolicyUrl: '/policies/privacy'
      };

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded.
      ui.start('#firebaseui-auth-container', uiConfig);
	</script>

  <!-- redirects if user is already logged in-->
  <script type="text/javascript">
    initApp = function() {
          firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
              // User is signed in.
              const usersRef = db.collection('users').doc(user.email)

              //check if user has signed in before
              usersRef.get().then((docSnapshot) => {
                if (docSnapshot.exists) {
                  usersRef.onSnapshot((doc) => {
                    //user has signed before
                    window.location.replace(callback);
                  });
                } else {
                  //user has not signed in
                  window.location.replace("/newuser");
                }
              });
              
            }else{
              //no use logged in
              $("#firebaseui-auth-container").removeClass("hidden")
            }
          }, function(error) {
            console.log(error);
          });
        };
    $(initApp);
  </script>
{% endblock %} 


{% block body %}
<h1 class="text-center mt-4 mb-4">Login</h1>
<div id="firebaseui-auth-container" class="animated--grow-in hidden"></div>
{% endblock %} 