{% extends 'dashboard-base.html' %} 

{% block title %}
<title>Project - Lightbulb Education Code</title>
{% endblock %} 

{% block topbase %}<!--no base-->{% endblock %}

{% block head_add %}
<script defer src="static/scripts/project.js"></script>

{% endblock %} 

{% block navtitle %}Project{% endblock %}


{% block dashcontent %}



<nav id="scroller" class="navbar hidden ml-3">
</nav>
<div class="container-fluid">
  <a href="/projects" id="back" class="btn btn-primary shadow-sm btn-circle btn-large floating-button"><i class="fas fa-arrow-left fa-sm text-white-50 floating-button-icon"></i></a>

  <div id="all-content" data-spy="scroll" data-target="#scroller" data-offset="200">
    <div class="text-center" class="animated--grow-in">
      <div id="spinner" style="width: 3rem; height: 3rem;" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div id="article" class="animated--grow-in hidden p-5 mb-5 mt-5 shadow-lg">
      <h1 id="title" class="mb-2 text-gray-800"></h1>
      <h5 class="mb-4" id="description"></h5>

      <div class="big-html" id="page-content" ></div>
    </div>
  </div>
</div>

  {% block base %}
    <!--base href="https://workshops.hackclub.com/"-->
  {% endblock %} 

{% endblock %}